html, body, div, ul, li, button, h1, p
{
    margin: 0px;
    padding: 0px;
}

body
{
    overflow: hidden;
    background-color: #f8f6f5; 
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 14px;
    /*#403f3e*/
    /*cursor: none;*/    
}

#footer
{
    position: absolute;
    bottom: 10px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    color: white;
}

a
{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover
{
    color: pink;
}